$Primary-Color: #d63031;
$Secondary-Color: #ff7675;
$background: linear-gradient(
  to left top,
  #d63031,
  #e14442,
  #ec5553,
  #f66664,
  #ff7675
);

$backgroundComment: rgb(252, 235, 235);

$backgroundSection: linear-gradient(135deg, #4f5261 0%, #383a45 50%);
